#navbar {
  font-size: 20px;
  height: 200px;
  padding-top: 20px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg);
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

#exchangesAndOffers {
  margin: 10px;
  padding: 10px;
  border: solid 2px black;
  background-color: RGBA(87, 84, 78, .5);
  font: white;
}

#itemOnShowPage {
  margin: 100px;
  border: solid 2px black;
  padding: 20px;

}

#description {
  padding: 40px;
}

#editDeleteButtons {
  padding-left: 40px;
  display: table-cell;
  vertical-align: bottom;
  height: 200px;
  width: 200px;
}

#filteredItems:hover  {
  display: table-cell;
  background: RGBA(241, 157, 58, 1);

}
#filteredItems {
  margin-top: 20px;
  margin-left:70px;
}

#filteredItemsInfo {
  margin: 90px;
}

#allItems {
  margin: 20px;
  padding-left: 200px;
  margin-bottom: 20px;
  padding-right: 40px;
}

#mainPageButtons {
  margin-bottom: 30px;
}
#logo {
  width: 220px;
  height: 150px;
}
.btn-lg {
  margin: 10px;
}
#jumbotron {
  margin: 50px;
  padding: 50px;
  background-color: RGBA(102, 102, 102, 1);
  color: RGBA(241, 157, 58, .8);
}
