<!DOCTYPE html>
<html>
<head>
  <title>GearExchange</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" href='https://bootswatch.com/spacelab/bootstrap.min.css'></link>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body ng-app="ExchangeApp">
  <gs-navbar navbar-data='navbar'></gs-navbar>
  <div ng-view></div>
</body>
</html>